

<h3>Welcome to Tweets(AJAX) </h3>
  <form action="/username" method='post' id = "getusertweets">
    <label>Username</label>
    <input type = "text" name="username">
    <input type="submit" value="Get User Tweets!">
  </form>

  <div id="ajax_loader" style="display:none;">
    <img src="/images/ajax-loader.gif"><br>
    <p>Loading..</p>
  </div>



<!-- BELOW CAN WORK BUT ITS MORE THAN REQUIRED, BECAUSE I HAVE TWEET SHOW ERB TO PUT NEW TWEETS -->
<!-- 
  <div id="tweets2">

  </div>

<script>
$(document).ready(function() {
  $('#getusertweets').submit(function(e){
    
    var tweetss = $("#getusertweets").serialize();
    e.preventDefault();
    $('#ajax_loader').show();

    $.ajax({
        type: "POST",
        url: "/username",
        data: tweetss,
        success: function(response){
          // alert("success");
          $('#tweets2').html(response);
        },
        error: function(){
          alert("Error");
        },
        complete: function(){
          $('#ajax_loader').hide();
        }
    });

  });
});
</script> -->